
#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
disable_root: false
chpasswd:
  list: |
     root:Daw00d26#
  expire: False

users:
  - name: david # Change me
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC2YOK1Cbyw2iTCoOzDsijh38n0hiLQqNOeU1AmHM9NcGmXKPSoQXdXXr/ZKQmRlNMb1/5mFbhpDST+O57XSbLHTZISkoQ4mEdGpbKASRqAxQGcc0YwdFo2z4hqRT7Gq0jxq5iX5c912oYTduhz0rbSvpDW7DQGwNojIta6UC7UvSBlJoO2sBpY8A2RlXPcj7J76VbFHKilOws6hAdXUVSr+3O3CVGMUM6udBjU87ezXR82lUYfW1Ae3P7z9/qqpVWFEPw7tRO4GB4IHCIaQ2nAYv2utaELfW6hGnzu/isgqT2YIQOaeAYeAYDaMVF3SgZE/WmGjdPFeoX3CvZ+Y0xv6pb88sc2x6XCvkjDn8NZf6FGBuU6Y9xhyaQhwokFoemymIUERCn/BmxbUXTQ5eUHPTNxOTGBcKcCtyJ9JopjMrmPqwd+OzbFk7UVBJto+es7b4NKUvgcY8qDJKzZCfIbMtcjQ8l+px9IvXOUg4rfxdpGBqdlKPuO6+/xYbZ0iqk= david@hp-laptop2
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel